*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.class
bin/
gen/
*.iws
*.ipr
*.apk
*.ap_
*.dex
*.log
*.jks
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db